{
    "semi": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "quoteProps": "as-needed",
    "useTabs": false,
    "singleQuote": false,
    "jsxSingleQuote": false
}